<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.BoardDao">
<resultMap type="Board" id="boardMap">
	<result column="id" property="id"/>
	<result column="writer" property="writer"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="view_cnt" property="viewCnt"/>
	<result column="reg_date" property="regDate"/>
	
</resultMap>

	<select id="selectAll" resultType="Board">
	<!-- <select id="selectAll" resultType="com.ssafy.board.model.dto.Board"> -->
		SELECT id, writer, title,content, view_cnt, date_format(reg_date, '%Y-%M-%D') AS regDate FROM board;
	</select>
	
	<select id="selectOne" resultType="Board" parameterType="int">
	<!-- <select id="selectAll" resultType="com.ssafy.board.model.dto.Board"> -->
		SELECT * FROM board
		WHERE id = #{id};
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (title, writer, content)
		VALUES (#{title}, #{writer}, #{content});
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE id = #{id};
	</delete>
	
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET view_cnt = view_cnt+1
		WHERE id = #{id};
	</update>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET title=#{title},content=#{content},reg_date=now() WHERE id = #{id};
	</update>
	
	<select id="search" resultType="Board" parameterType="SearchCondition">
		SELECT * FROM board
		<where>
			<!-- 검색 조건 -->
			<if test="key != 'none'">
				AND ${key} LIKE concat('%', #{word}, '%')
			</if>
			
			<if test="option == 'odd'">
				AND id % 2 = 1
			</if>
			
			<if test="option == 'even'">
				AND id % 2 = 0
			</if>
			
			<if test="zero == 'on'">
				OR id % 4 = 0
			</if>
			<if test="one == 'on'">
				OR id % 4 = 1
			</if>
			<if test="two == 'on'">
				OR id % 4 = 2
			</if>
			<if test="three == 'on'">
				OR id % 4 = 3
			</if>
			
		</where>
		
		<!-- 정렬 조건 -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
</mapper>